*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', 'sans-serif';
}

/* Navigation Bar */

#header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 35, 34);
    padding: 10px 25px;
    width: 100%;
}

#header-img {
    height: 150px;
    width: 150px;
}

.header-nav {
    margin-top: auto;
    margin-bottom: auto;
}

#nav-bar ul li {
    display: inline;
}

#nav-title {
    color: #338de6;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-weight: 900;
}

#nav-bar a {
    text-decoration: none;
    margin-left: 10px;
    color: #338de6;
    font-weight: 800;
    font-size: 18px;
}

/* Main Section */

#title {
    text-align: center;
    font-size: 48px;
    padding-top: 6em;
    padding-bottom: 1em;
}

.section-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#apple-img {
    height: 550px;
    width: 900px;
}

.video-apple {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8em;
    padding-bottom: 8em;
}

#video {
    height: 400px;
    width: 600px;
    padding-top: 5em;
    padding-bottom: 1em;
}

/* Form Section in the Main Section */

.form {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

form {
    width: 860px;
    align-items: center;
    justify-self: center;
}

.title-subscribe {
    text-align: center;
}

.sign-up {
    justify-self: center;
    border: 1px solid black;
    padding-right: 100px
}


/* Footer */

.footer {
    display: flex;
    border: 1px solid black;
    width: 100%;
    justify-content: center;
    padding: 20px 30px;
    background-color: rgb(35, 35, 34);
}

nav li {
    display: inline;
}

.footer-nav a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    color: #338de6;
    font-weight: 700;
}